################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InDietDev/InDiet.Data/obj/Debug
*.dll
